<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!-- Inserir este arquivo em sua pasta .m2 (maven) para ativar o nexus e permitir baixar as dependências oracle -->
	<servers>
		<server>
			<id>releases</id>
			<username>deployment</username>
			<password>deployment</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>deployment</username>
			<password>deployment</password>
		</server>
		<server>
			<id>sites</id>
			<username>site-deployer</username>
			<password>#site-deployer#</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<!--This sends everything else to /public -->
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://nexus.tre-pa.gov.br:8090/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<properties>
				<!-- LOCAL DEV -->
				<local.jboss7.hostname>10.13.0.83</local.jboss7.hostname>
				<local.jboss7.username>deployer</local.jboss7.username>
				<local.jboss7.password>#@deployer@#</local.jboss7.password>
				<local.db.url>jdbc:oracle:thin:@10.13.0.52:1521:adm</local.db.url>
				<!-- ENV DEV -->
				<dev.jboss7.hostname>10.13.0.83</dev.jboss7.hostname>
				<dev.jboss7.username>deployer</dev.jboss7.username>
				<dev.jboss7.password>#@deployer@#</dev.jboss7.password>
				<dev.db.url>jdbc:oracle:thin:@10.13.0.52:1521:adm</dev.db.url>
				<!-- ENV TEST -->
				<test.jboss7.hostname>10.13.0.78</test.jboss7.hostname>
				<test.jboss7.username>deployer</test.jboss7.username>
				<test.jboss7.password>#@deployer@#</test.jboss7.password>
				<test.db.url/>
				<!-- ENV PRODUCTION 1 -->
				<prod1.jboss7.hostname>10.13.0.105</prod1.jboss7.hostname>
				<!--
				<prod1.jboss7.user>deployer</prod1.jboss7.user>
				<prod1.jboss7.password>#@deployer@#</prod1.jboss7.password>
				!-->
				<prod1.db.url>jdbc:oracle:thin:@10.13.1.1:1521:adm</prod1.db.url>
				<!-- ENV PRODUCTION 2 -->
				<prod2.jboss7.hostname>10.13.0.104</prod2.jboss7.hostname>
				<!--
				<prod2.jboss7.user>deployer</prod2.jboss7.user>
				<prod2.jboss7.password>#@deployer@#</prod2.jboss7.password>
				!-->
				<prod2.db.url>jdbc:oracle:thin:@10.13.1.1:1521:adm</prod2.db.url>
			</properties>
			<!--Enable snapshots for the built in central repo to direct -->
			<!--all requests to nexus via the mirror -->
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<!--make the profile active all the time -->
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>